@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
  font-family: 'Roboto Slab', serif;
  /* overflow: hidden; */
}

.AdSale .items img{
  width: 437px;
height: 606px;
flex-shrink: 0;
}

/* .carousel_top{
  max-height: 550px;
} */

.slick-slider{
  overflow: hidden;
}

/* blog tab css */

.blogTab .nav-item button{
  color : #76306E
}
.blogTab .nav-item .active{
border: none !important;
border-bottom: solid 4px #ef1c74 !important;
}

.blogTab{
}

.blogTab .nav-tabs{
  border : none !important;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.12);

}

.blogTab .nav-link:hover {
   border: none !important;
   box-shadow: none !important;
}

.blogCard .headings .blog-heading{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  color: rgba(0,0,0,.87);
}

.blogCard .headings .blog-subheading{
  font-size: 16px;
  color: rgba(0,0,0,.54);
  text-transform: capitalize;
}


.blogCard .card_wrapper{
  padding : 0px;
  border-radius: 8px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.12);
  position: relative;
}

.blogCard .card_wrapper .pin-holder img{
  position : absolute;
  opacity:  0.4;
  z-index: 1;
  width: 30px !important;
  left: 1rem;
  top: 1rem;
}

.blogCard .card_wrapper .pin-holder img:hover{
  opacity: 1;
}

.blogCard .image_holder{
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.blogCard .image_holder:hover{}

.blogCard .image_holder >img:hover{
  transform: scale(1.1);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.blogCard .card_wrapper .card_details{
  position: relative;
  color: rgba(0,0,0,.54);
  padding: 10px;
}

.blogCard .card_wrapper .category{
  position : absolute;
  padding: 4px 8px;
  left: 0px;
  background-color: black;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: -15px;
  font-size: 14px;
  cursor: pointer;
}

.blogCard .card_wrapper .detail_holder .blog-title{
  padding-top: 2rem;
  font-size: 24px;
  overflow: hidden;
  height: 90px;
  margin-bottom: 12px;
  line-height: 1.33;
}

.blogCard .card_wrapper .detail_holder .blog-description{
  font-size: 16px;
  height: 85px;
  overflow: hidden;
  color: rgba(0,0,0,.54);
  margin-bottom: 12px;
  line-height: 1.33;

}

.blogCard a{
  list-style: none;
  text-decoration: none;
  color: inherit;
  cursor: auto;

}

.blogCard .card_details .tags{
  overflow: hidden;
  /* padding: 4px 15px; */
  margin-top: 15px;
  height: 32px;
}


.blogCard .card_details .tags h3{
  border : 1px solid #d8dae1;
  border-radius: 16px;
  font-size: 12px; 
  display: inline-block;
  padding: 6px;
  margin: 0px 6px 0px 6px;
}

.blogCard .card_details .tags .tag-holder{
  color: rgba(0,0,0,.54);
}

.blogCard .card_details .date{
  text-align: left;
  padding: 7px;
  display: inline-block;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 12px;
}

.blogCard .card_details .bookmark-button{
  display: inline-block;
  position: relative;
  cursor: pointer;

}

.footer .franchiseBox{
  padding: 26px;
  margin: 0px auto;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 62%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.footer .boxContent{
  max-width: 635px;
  /* position: absolute; */
  /* bottom: 100%; */
  /* left: 50%; */
  /* transform: translate(-50%, 50%); */
}

.footer .boxContent h4,.footer .boxContent p{
  font-size: 16px;
  margin: 0px 0px 7px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  color: rgb(16, 18, 23);
}

.footer .boxContent h4{
  font-weight: bolder;
}

.footer .franchiseButton{
  display: inline-block;
    padding: 16px 40px;
    letter-spacing: 0.21px;
    color: rgb(16, 18, 23);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
    background-image: linear-gradient(253deg, rgb(255, 232, 111), rgb(253, 220, 44));
    text-decoration: none;
}


.footer .franchiseButton:hover::before {
    transform: scale(10, 10);
    opacity: 0.15;
    transition: all 0.3s ease 0s;
    
}

.footer .franchiseButton::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
    background-image: radial-gradient(circle, rgb(0, 0, 0) 15%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50% center;
    transform: scale(0, 0);
    opacity: 0;
    transition: all 0.4s ease 0s;
}


/* .footer  */

.footer .linksHolder .link h4{
  color: rgb(255, 255, 255);
  margin: 0px 0px 15px;
  text-transform: capitalize;
  font-size: 14px;
}

.footer .linksHolder .link ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer .linksHolder .link ul a{
  font-size: 14px;
  text-decoration: none;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  opacity: 0.7;
}

.footer .linksHolder .link ul a:hover{
  opacity: 1;
}

.footer .footerPaymentStyle .imageWrap{
  color : white
}
.footer .footerPaymentStyle {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 4rem;
}

.footer{
  padding: 90px 0px 40px;
  position: relative;
  background-image: linear-gradient(144deg, rgb(25, 36, 84), rgb(82, 94, 147));
  margin-top: 0rem;
}

.footer .footerPaymentTitle{
  font-size: 12px;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: block;
  color: rgb(255, 255, 255);
}

.footer .rightContent{
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 5rem;
}

.footer .leftContent{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .qrImage{
  width: 120px;
  height: 120px;
  /* margin-top: 1rem; */
}
.footer .qrImage img{
  border-radius: 10px;
}

.footer .qrCode h6{
  color: white;
}

.footer .qrCode{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ::placeholder {
  color: white;
}

.footer .rightContent h3{
  font-size: 26px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.14px;
  margin: 0px 0px 4px;
}

.footer .send-btn:before{
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  transform: rotate(45deg);
  top: 14px;
  right: 13px;
}

.footer .send-btn:after{
  width: 16px;
  height: 2px;
  content: "";
  position: absolute;
  right: 13px;
  top: 19px;
  background: rgb(0, 0, 0);
}

.footer .rightContent  .totalDownloads {
  font-size: 16px;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  width: 100%;
  margin: 0px 0px 14px;
  font-weight: 400;
}

.footer .gPlay, .footer .applePlay{
  width: 135px;
  height: 135px;
}

.message-wrap{
  position: relative;
  overflow: hidden;
}

.get-sms {
  position: relative;
  width: 294px;
  height: 43px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 22px;
  padding-left: 17px;
  margin-bottom: 17px;
  box-shadow: rgb(255, 255, 255) 0px 0px 2px 0px inset, rgb(255, 255, 255) 0px 0px 1px 0px, rgb(255, 255, 255) 0px 0px 1px 0px inset;
  transition: all 0.2s ease 0s;
}

.country-code {
  color: rgb(255, 255, 255);
  font-size: 14px;
  position: absolute;
  left: 16px;
  top: 0px;
  bottom: 0px;
  line-height: 43px;
  display: none;
}

input {
  font-size: 14px;
  padding: 6px 2px 7px 5px;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin-top: 1px;
  background: transparent;
  height: 100%;
  outline: 0px;
  width: 222px;
  color: rgb(255, 255, 255);
}

.success-text {
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: absolute;
  right: 50px;
  top: 0px;
  bottom: 0px;
  line-height: 40px;
  display: none;
}

 .send-btn {
  position: absolute;
  width: 41px;
  height: 41px;
  right: 0px;
  top: 0px;
  margin: 0px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background: rgb(254, 221, 16);
  border: 1px solid rgb(55, 66, 117);
}

.get-sms.message-sent {
  position: absolute;
  right: -100%;
  z-index: 3;
  top: 0px;
}

.message-sent .success-text {
  display: block;
}

 .message-sent .send-btn {
  background: rgb(26, 174, 114);
}

.message-sent .send-btn::before {
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  width: 17px;
  height: 8px;
  transform: rotate(135deg);
  inset: 0px;
  margin: 13px auto auto;
}
.slick-prev {
  left: 0% !important;
  z-index: 1;
}

.slick-next {
  right: 0% !important;
  z-index: 1;
}

.slick-next:before, .slick-prev:before  {
  /* font-size: 20px; */
  opacity: .75;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* color: #fff; */
}

.slick-arrow{
  position: absolute;
  top: 50%;
  height: 80px;
  width: 40px;
  background-color: #fff !important;
  padding: 6px;
  border-radius: 2px;
  z-index: 1;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  border: 1px solid #e0e0e0;
}

.banner .slick-arrow{
  height: 55px;
}

.banner .slick-prev {
  left: 0.5% !important;
}

.banner .slick-next {
  right: 0.5% !important;
}
.slick-prev:before {
  color: black;
content: '←';

}

.slick-next:before {
  color: black;

}

.deals .card_inner{
  background-color: #fff;
  -webkit-box-shadow: 0 9px 12px 0 rgba(0,0,0,.04);
  box-shadow: 0 9px 12px 0 rgba(0,0,0,.04);
  margin-bottom: 24px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: all .3s ease;
  -o-transition: .3s;
  border-radius: 6px;
  overflow: hidden;
}

.deals .card_img{
  position: relative;
  width: 100%;
  background-color: #b5b6b8;
  padding-top: 60%;
  overflow: hidden;
}

.deals .card_img >img{

    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    border-top-right-radius: 3px;

}

.deals .card_favourite{
  position: absolute;
  top: 9px;
  right: 9px;
  background-color: #fff;
  border-radius: 2px!important;
  -webkit-transition: .3s;
  transition: .3s;
  color: #ef534e;
  padding: 0px 10px;
}
.deals .card_inner .companyLogo{
  border-right: 1px solid #e0e0e0;
  margin-right: 3px;
  padding-right: 3px;
  display: inline-block;
  height: 30px;
  max-width: 60px;
}

.deals span{
  font-size: .8125em;
  color: #999;
  -webkit-font-smoothing: subpixel-antialiased;
}

.deals .card_inner .card_rating_img{
  background: url('./images/ratings.svg') 0 -162px/58px 175px no-repeat;
  display: inline-block;
  height: 10px;
  width: 58px;
  background-position: 0 -35px;
  background-position-y: -35px;
}

.deals .card_inner .card_rating_value{
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #333;
  margin-left: 3px;
}

.deals .card_rating{
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 3px 6px 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 160px;
  height: 30px;
  margin-bottom: 6px;
}

.deals .merchant_rating {
  position: relative;
  bottom: 16px;
  left: 0px;
  margin-right: 12px!important;
}

.deals .text_truncate{
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.deals .card_location{
  max-height: 16px;
  height: 16px;
  overflow: hidden;
  color: #999;
  margin-bottom: 16px;
  font-size: 13px;
}

.deals .card_option{
  overflow: hidden;
  max-height: 38px;
  height: 38px;
  font-size: 13px;
  line-height: 1.4;
  white-space: pre-wrap;
  color: #666!important;
}

.deals .margin_reset{
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.deals .previous_price{
  height: 13px;
    max-height: 13px;
    display: flex;
    align-items: center;
}

.deals .card_pricing{
  margin-top: 1rem;
}

.deals .previous_price{
    font-size: 11px;
    position: relative;
    width: fit-content;
}

.deals .previous_price i{
  font-size: 9px;
}

.deals .actual_price{
  font-size: 1.2rem;
}

.deals .actual_price i{
  display: flex;
  justify-content: center;
}
.deals .actual_price span{
  gap: 5px;
  align-items: center;
  color: #34a853!important;
  font-size: 20px;
}

.deals .card_discount{
  height: 33px;
  max-height: 33px;
}


.deals .card_discount p {
  background-color: #fff6f5!important;
  border-radius: 2px;
  padding: 3px 6px;
  line-height: 18px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px!important;
  color: #ef534e!important;
  
  margin-top: 6px;

}

.deals .previous_reset{
  position: absolute;
  /* color: #999!important; */
  border: 1px solid #999;
  width: 100%;

}

.deals .card_inner:hover {
  -webkit-box-shadow: 0 1px 25px rgba(153,153,153,.5);
  box-shadow: 0 1px 25px rgba(153,153,153,.5);
  -webkit-transform: translateY(-2px);
  transform: translateY(-12px);
}

.deals .card_description{
  padding: 1rem;
}

.deals .fashionHeading a{
  text-decoration: none;
  color: red;

  font-size: 13px;
}

.quickbites .card_grid{
    overflow: hidden;
    margin-bottom: 24px;
}

.quickbites a{
  text-decoration: none;
  color: inherit;
}

.quickbites .card_grid_img {
  position: relative;
  padding-top: 150%;
  border-radius: 12px;
  overflow: hidden;
}

.quickbites .card_grid_img>img {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.quickbites .slick-arrow{
  top: 40%;
}

.cashBackStores .coupons{
    border-bottom: 0;
    max-width: 200px;
    width: 100%;
    line-height: 40px;
    font-size: 13px;
    border-radius: 4px;
    height: 40px;
    padding: 0;
    font-weight: 700;
    white-space: nowrap;
    display: block;
    background: #f07431;
    color: #ffffff;
    margin: 0 auto;
}

.cashBackStores .coupons:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle,#FFFFFF 10%,transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s,opacity 1s;
}

.cashBackStores .cashbackTerms{
  margin-top: 18px;
  font-size: 13px;
  color: #2196f3;
  text-align: center;
  cursor: pointer;
}

.cashBackStores .store_Card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cashBackStores .store_card {
  background: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  float: left;
  height: 200px;
  padding-bottom: 15px;
  position: relative;
}
.cashBackStores .store_card img {
  width: 120px !important;
  height: 60px;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}


.strikes .catdeal_bottom {
  /* display: block; */
  padding: 14px;
  height: 57px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.strikes .catdeal_timer {
  float: left;
  background: #da0325;
  padding: 0 4px;
  border-radius: 4px;
  color: white;
  margin-top: 3px;
}

.strikes .catdeal_bottom .catdeal_grab {
  float: right;
  min-width: 92px;
  height: 29px;
  line-height: 27px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  padding: 0 3px;
  background: #f07431 !important;
  color: #ffffff;
  display: block !important;
}

.strikes .catDealImage{
  width: 100%;
  height: 160px;

  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}


.strikes .catdeal{
  overflow: hidden;

  background: #ffffff;
  border-radius: 10px;
  box-shadow: #eae3e3 0 0 3px 1px;
  height: 217px;
  position: relative;
  margin-top: 20px;
  /* padding-left: 1rem; */

}

.catDealImage:hover{
  transform: scale(1.1);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

.voucher_card{
  text-decoration: none;
  width: 236px;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    vertical-align: top;
    padding-right: 12px;
    position: relative;
    padding-left: 12px;
    padding-top: 4px;
}

.essential .voucher_rating{

  background: #008a3b;
  color: white;
  border-radius: 40px;
  padding: 0 4px 0 2px;
  height: 24px;
  border-radius: 20px;
  top: 12px;
  right: 12px;
  padding: 5px;
  position: absolute;
  gap: 5px;
  font-size: 12px;
}

.voucher_card .home_delivery{
  position: absolute;
  bottom: -12px;
  z-index: 1;
  height: 24px;
}

.voucher_card .voucher_banner_holder{
  height: 136px;
  width: 100%;
  object-fit: fill;
  background-color: white;
  position: relative;
  border-radius: 20px;
  margin-bottom: 16px;
  box-shadow : 0 3px 8px 0 rgba(0,0,0,.12);
  display: flex;
  justify-content: center;

}

.voucher_card .voucher_banner{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.voucher_card .voucher_details{
  width: 100%;
  padding : 0 10px 10px 0;
  text-align: left;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.voucher_details .voucher_merchant_name{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color:black;
  margin-bottom:  8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voucher_details .voucher_locality{
  min-height: 16px;
  font-size: 14px;
  line-height: 16px;
  color : rgba(51,51,51,.8);
  margin-bottom: 8px;
}

.voucher_details .voucher_percent{
  display: inline-block;
  position: relative;
  width: max-content;
  text-align: center;
  border-radius: 10px;
  background-color: #6D6BED;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  padding : 4px 8px;
  font-weight: bold;
}


.best_seller .trend_img{
  border-radius: 25px;
  max-height: 220px;
}

.best_seller .slick-next{
  right: 2.5% !important;
}

.carousel_top .carousel-item img{
  /* height: 420px !important; */
  object-fit: cover;

}

.slick-initialized .slick-slide {
  display: block;
  padding: 0.3rem;
}

/* .banner .carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
} */

.health .subtitle{
  position: absolute;
  background-color: #6D6BED;
  color : #fff;
  padding : 4px 6px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
  transform: translate(0px, 50px);
  display: inline-block;     /*what is its use*/

}


.health img{
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid rgb(0,0,0,.3);
}

.health a{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.health{
  margin-right: 1rem;
}


.quick_filters .q_filter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px

}

.quick_filters{
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  gap : 12px;
  overflow: hidden;
  padding : 12px calc(12px + 10%);
  width : 100%;
  background-color: #fff;
  z-index: 9;
  box-shadow: 0px 5px 12px rgb(55 62 125 / 8%);
  position: sticky;
  top : 70px
}


.q_filter.sort, .q_filter.active{
  background-color: #6561E8;
  color : #fff !important;
  font-weight: bold;
  border-color: #6561E8;
  
}

.quick_filters .filter_logo{
  width: 18px;
  height: 18px;
}

.quick_filters .q_filter{
  display: flex;
  min-width: max-content;
  align-items: center;
  gap: .6666667em;
  color: #4f4f4f;
  font-size: 12px;
  line-height: 1.333333em;
  padding: .6666667em;
  border: .5px solid #e8e8e8;
  border-radius: .6666667em;
}


.store_result_container .store_card:hover{
  box-shadow: 0 4px 8px 2px rgba(0,0,0,.12);
}

.store_result_container .store_card{
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: flex-start;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,.12);
  padding: 8px;
  border-radius: 20px;
  justify-self: center;
  max-width: 420px;
  margin: 10px;
  background-color: white;
}

.store_result_container .store_image_holder{
  width: 36%;
  min-width: 36%;
  min-height: 90px;
  max-height: 120px;
  display: block;
  position: relative;
  /* what is use of min height and max height in css is it necessary  to give */
}
.store_result_container .store_image_holder img{
  border-radius: 20px;
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 90px;
  max-height: 120px;
  object-fit: contain;
}

.info_container .rows{
  display: flex;
  padding : 2px 0;
}

.row_1 .name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #191C32;
  word-break: break-word;
} 

.row_1 .save_message {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #6561E8;
  display: flex;
  align-items: center;
  min-width: max-content;
  gap: 2px;
}

.rows.row_2, .rows.row_3, .rows.row_4 {
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
  min-height: 14px;
}

.store_card .rating_divider {
  /* display: flex;
  align-items: center; */
}
.rating_divider .divide{
  /* border: 1px solid #F5F5F5; */
}

.info_container .rows.row_1 {
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.store_card{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: flex-start;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.12);
    padding: 8px;
    border-radius: 20px;
    justify-self: center;
    max-width: 420px;
}

body{
  background-color: #eceef4;
}

.store_body .row_1{
  display: flex;
  align-items: start;
  gap: 10px;  
}

.store_body .row_1 .voucher_rating{
  
  width: 56px;
  height: 24px;
  border-radius: 20px;
  background-color: #8bcc00;
  border-color: #8bcc00;
  padding: 2px 3px;
  color: white;
  gap: 5px;
}

.store_body .voucher_rating .voucher_star{
  /* position:static  !important;; */
  font-size: 12px;
}

.store_body .visits, .store_body .name,.store_body .location, .store_body .kind{
  white-space: nowrap;
}

.store_body .rating{
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.store_body .details>p{
  font-size: 12px;
}

.store_body .rating .visits{
  font-size: 12px;
  color: #999;
}

.store_body .row_1 img{
  border: 1px solid grey;
  border-radius: 5px;
}

.store_body .row_2 .about{
  font-size: 14px;
}

.store_body .happening_offer .offer_text{
  color: #821dff;
  font-size: 12px;
  font-weight: bold;
}

.store_body .happening_offer .order_btn .btn{
  color: #fff;
  padding: 4px 8px;
  width: 90px;
  background: #821dff;
  border: none;
  font-size: 12px;
}

.store_body .happening_offer{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.store_body .happening_offer .order_placed h6{
  font-size: 14px;
  white-space: nowrap;
}


.store_body .coupon_offer_holder .offer_title{
  font-size: 16px;
    color: #2e108e;
}

.store_body .coupon_offer_holder .btn{
  font-size : 12px;
}

.store_body .call h5,.store_body .location h5{
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 0px;
  cursor: pointer;
}

.store_body .call span{
  color: #00bfa5;
  font-size: 14px;
}

.store_body .location span{
  font-size: 14px;
}

.store_body .location a{
    font-size: 14px;
    color: #ef1c74;
}

.store_body .verification{
  font-size: 14px;
  padding: 4px 0;
  color: rgba(0, 0, 0, 0.54);
}

.store_body .cuisines{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.store_body .cuisines .cuisine{
  border-radius: 4px;
  background-color: rgba(0, 172, 183, 0.4);
  font-size: 12px;
  margin-bottom: 0px;
  white-space: nowrap;
  
  /* margin-top: 8px;
  margin-right: 8px; */
  width: fit-content;
  padding: 6px 12px;
}

.store_body .cuisines .more_text{
  font-size: 12px;
  border: 1px solid rgba(0,0,0,.12);
  padding: 6px;
  border-radius: 4px;
  color: #ef1c74;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 4px;
}


.store_body .popular_searches h3{
  font-size: 16px;
  font-weight: bolder;
}

.store_body .most_searches{
  border-radius: 8px;
  background-color: white;
  font-size: 12px;
  margin-top: 8px;
  margin-right: 8px;
  color: #6561E8;
  border: 1px solid #6561E8;
  cursor: pointer;
  padding: 4px 12px;
  text-decoration: none;
}

.store_body .search_holder{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  gap:10px
}

.store_body .search_holder .search_img{
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 50%;
  padding: 6px;
  width: 48px;
  height: 48px;
}

.store_body .search_holder article{
  display: flex;
  flex-wrap: wrap;
}

.home_delivery img{
  border-radius: 8px;
  object-fit: cover;
  height: 80px;
}

.home_delivery  .tablet_details .name{
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.home_delivery  .tablet_details .desc{
  font-size: 12px;
  height: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.home_delivery  .tablet_details .price_holder{
  font-size: 14px;
  margin-top: 6px;
}


.home_delivery  .tablet_details .price_holder .display_price{
  text-decoration: line-through;
  margin-right: 5px;

}

.home_delivery  .tablet_details .price_holder .actual_price{
  color: black;
  font-weight: bolder;
}

.home_delivery  a{
  text-decoration: none;
  color: black;
}

.home_delivery .heading{
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 1rem;
  color: black;
}

.home_delivery .order_btn .btn{
  color : #ef1c74;
  border-color: #ef1c74;
  font-size: 14px;
  font-weight: bold;
}
.home_delivery .order_btn .btn:hover{
  color: white;
  background: #ef1c74;
  transition: 0.7s ease-in-out;
}
.online_shopping .row_1{
  display : flex;
  justify-content: space-between;
  align-items: center;
}

.online_shopping .row_1 h5{
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.online_shopping .row_1 h6{
  font-size: 12px;
  cursor: pointer;
  color: #ef1c74;
}

.online_shopping .online_store_card .cuisines{
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.54);
  text-overflow: ellipsis;
  cursor: pointer;;
}

.online_shopping .online_store_card .items{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0px;
  margin: 10px;
}

.online_shopping .online_store_card .items .image img{
  height: 80px !important;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
}

.online_shopping .online_store_card .items .name{
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.online_shopping .online_store_card .items .offer_text{
  color: #821dff;
  margin-top: 4px;
  font-size: 12px;
}

.rating_reviews .rating_heading{
  font-size: 16px;
  color: black;
  margin-bottom: 16px;
  margin-top: 8px;

}


.rating_reviews .rating_value{
  font-size: 30px;
  font-weight: bold;
  color : #00ae28;
}

.rating_reviews .rating_total{
  font-size: 20px;
  color: #d3d5de;
}


.rating_reviews .claims_title{
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 1rem;
}


.rating_reviews .see_more img{
    width: 20px !important;
}

.rating_reviews .rating_header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rating_reviews .rating_header .see_more{
  width: 100%;
  text-align: end;
}

.rating_reviews .people_holder .username{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}

.rating_reviews .people_holder .username img{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.rating_reviews .people_holder .username .followers{
  font-size: 12px;
}

.rating_reviews .people_holder .username .date{
  width: 100%;
  text-align: end;
  font-size: 12px;
}

.rating_reviews .people_holder .rating_holder{
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.rating_reviews .people_holder .review{

}